@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme {
  --color-primary: #2D5BFF;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-accent: #9ca4ab;

  --color-accent-200: #1A2332;

  --font-poppins: Poppins, sans-serif;
  --font-nunito: Nunito, sans-serif;
  --text-sm: 12px;

  --background-image-hero-pattern: url("/hero-bg.png");
}

@layer base {
    * {
        @apply font-poppins;
    }

    .nav-link {
        @apply text-sm font-medium transition-colors whitespace-nowrap;
    }

    h1 {
        @apply font-bold;
    }

    p {
        @apply font-medium;
    }
}

@layer components {
    .hero-stat .container {
        @apply flex items-center gap-4;
    }

    .hero-stat p {
        @apply text-2xl font-bold text-accent-200;
    }

    .hero-stat span {
        @apply text-sm text-[#5A6C7D];
    }
}